.esferita{
  
    display: flex;
    justify-content: center;
    width: 40% !important;
    margin: 0 auto;
    position: absolute;
    left: 160px;
    top: -100px;
    border-radius: 50%;
    height: 50%;
    /* border: 1px solid red; */
}

.tagcloud--item{
    color: #000000;
    font-family: Verdana,Geneva,sans-serif; 
    font-size: 20px;
}

.tagcloud--item:hover{
    color: #fff;
    background-color: #000000;
    cursor: pointer;
}

@media (max-width: 1920px) {
    .esferita{
        top: -180px;
        left: 250px;
    }
}

@media (max-width: 1535px) {
    .esferita{
        left: 250px;
        top: -50px;
    }
}
@media (max-width: 1200px) {
    .esferita{
        display: none;
    }
}

