.esferita{
  
    display: flex;
    justify-content: center;
    width: 40% !important;
    margin: 0 auto;
    position: absolute;
    left: 160px;
    top: -100px;
    border-radius: 50%;
    height: 50%;
    /* border: 1px solid red; */
}

.tagcloud--item{
    color: #ffffff;
    border-radius: 3px;
    background-color: #000000;
    font-family: Verdana,Geneva,sans-serif; 
    font-size: 20px;
}

.tagcloud--item:hover{
    color: #000000;
    background-color: #ffffff;
    cursor: pointer;
}

@media (max-width: 1920px) {
    .esferita{
        top: -180px;
        left: 250px;
    }
}

@media (max-width: 1535px) {
    .esferita{
        left: 250px;
        top: -200px;
    }
}

@media (min-width:951px) and ( max-width: 1252px) {
    .esferita {
        display: none !important;
    }
    
}
@media (max-width: 950px) {
    .esferita{
        top: 27svh;
        left: -10svw;
    }
    .tagcloud--item{
        font-size: 15px;
    }
}


