

.main_container{
    position: relative;
    height: 100svh !important;
    width: 400vw;
    background-color: #000;     
    display: flex;
    flex-direction: row;
}

.navbar-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 20%;
    z-index: 999;
}

.home_about_container{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.home__Name_container{
    margin-top: 30px;
    display: flex;
    margin-left: 15%;
    max-width: 700px;
    height: auto;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 10%;
    justify-self: center;
}

.Name_container_text{
    font-size: 24px;
    color: #dcdcdc;
    letter-spacing: 3px;
    font-weight: 300;
    margin-bottom: -10px;
}

.name_flex{
    display: flex;
    gap: 26px;
}

.developer_flex{
    display: flex;
    gap: 26px;
}

.button__container{
    background-color: rgb(0, 0, 0);
    width: 200px;
    justify-self: center;
    align-self: center;
    margin-left: -5%;
    margin-top: 55px;
}
.Name_container_text2{
    font-size: 19px;
    color: #dcdcdc;
    letter-spacing: 3px;
    font-weight: 300;
    margin-bottom: -10px;   
}

.home_h2{
    color: rgb(172, 175, 178);
}

.sections{
    width: 100vw;
    height: 100vh;
    background-color: none;
}

.scrollDown{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    height: 140px;
    left: 10px;
}

.span1{
        color: #fff;
        text-align: center;
        display: flex;
        justify-self: center;
        align-self: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 10px;
        height: 150px;
}

.scrollDown__black{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    height: 140px;
    left: 32.5%;
    z-index: 100000;
}

.span2{
    color: #000;
    text-align: center;
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 10px;
    height: 150px;
}

section {
    width: 100vw;
    height: 100vh;
}
section:nth-child(3){
    background-color: yellow;
}
section:nth-child(4){
    background-color: greenyellow;
}

@media (max-width: 950px) {
    .home__Name_container{
        margin-left: 50px;
        margin-top: 100px;
        gap: 30px;
    }
    .name_flex{
        gap: 0;
       flex-direction: column;
    }
    .button__container{
        width: 150px;
        margin-left: 0px;

        
    }
    .developer_flex{
        flex-direction: column;
        gap: 0;
    }

}
@media (max-width: 800px) {
    .home__Name_container{
       font-size: 10px;
       margin-left: 20px;
       margin-top: 100px;
    }
}