

.main_container{
    position: relative;
    height: 100vh;
    width: 300vw;
    top: 0;
    background-color: #000;     
    left: 0;
    display: flex;
    flex-direction: row;
    flex-shrink: 2;
}

.navbar-container{
    position: fixed;
    top: 0;
    left: 0;
    width: 300px;
    height: 100%;
    z-index: 999;
}

.home_about_container{
    display: flex;
    flex-direction: column;
    width: 100vw;
}

.home__Name_container{
    margin-top: 30px;
    display: flex;
    margin-left: 5%;
    width: 750px;
    height: 130px;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}


.home_h2{
    color: rgb(172, 175, 178);
}

.sections{
    width: 100vw;
    height: 100vh;
    background-color: none;
}

.scrollDown{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    height: 140px;
    left: 10px;
}

.span1{
        color: #fff;
        text-align: center;
        display: flex;
        justify-self: center;
        align-self: center;
        flex-direction: row;
        flex-wrap: wrap;
        width: 10px;
        height: 150px;
}

.scrollDown__black{
    display: flex;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    height: 140px;
    left: 32.5%;
    z-index: 100000;
}

.span2{
    color: #000;
    text-align: center;
    display: flex;
    justify-self: center;
    align-self: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 10px;
    height: 150px;
}