.alert {
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 20%;
    z-index: 2000000;
    left: 57%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 5px 20px 5px;
    border-radius: 5px;
    width: max-content;
    color: white;
    box-shadow: 3px 3px 0px 3px rgba(9, 255, 9, 0.99);
    text-align: center;
}

@media (max-width: 950px) {
    .alert {
        width: fit-content;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 60px;
        top: 60%;
        font-size: 16px;
        color: white;
    }
}