.navBarContainer{
    display: flex;
    justify-content: center ;
    align-items: flex-start;
    width: 28px; 
    z-index: 100000000000;

}

.offcanvas {
    position: fixed;
    background-color: rgb(255, 255, 255);
    top: 20px;
    left: 5px;
    bottom: 0;
    z-index: 1000000000;
    width: 150px;
    height: 100%;
  }

