.navBarContainer{
    display: flex;
    justify-content: center ;
    align-items: flex-start;
    width: 28px; 
    z-index: 100;

}
.NAVBAR{
    z-index: 100;

}
/* .navBar_Span{
    margin-top: 6px;
    margin-left: 10px;
    font-size: 14px
} */