
.offcanvas-start{
    width: 200px !important;
}

html,
body,
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#root {
    width: 98.7vw;
    overflow-x:visible ;
    height: 100vh;
    box-sizing: border-box;
    background-color: #15cb24;
  }

  .pin-spacer{
    overflow-x: hidden;
  }