
.offcanvas-start{
    width: 200px !important;
}

html,
body,
*{
    
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    
}

#root {
    width: 98.7vw;
 
    height: 100svh;
    box-sizing: border-box;
    background-color: #15cb24;
  }

  .pin-spacer{
    overflow-x: hidden;
  }

::-webkit-scrollbar {
    display: none;
}