
.aboutMe_container{
    width: 100vw;
    position: fixed;
    left: 85vw;
    display: flex;
    flex-direction: column;
}

.flexBlocks_line{
    width: 120%;
    height: 20%;
    position: relative;
    background-color: #fff;
}

.line1{
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 30px;
    align-items: center;
}



.line2{
    left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 30px;
    align-items: center;
}

.line3{
    left:100px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 30px;
    align-items: center;
}

.line4{
    left:150px;
    width: 110%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 30px;
    align-items: center;
}

.line5{
    left:100px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 30px;
    align-items: center;
}

.line6{
    left: 50px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 30px;
    align-items: center;
}

.line7{
    left: 0px;
    display: flex;
    flex-direction: row;
    padding-left: 30px;
    align-items: center;
}

.aboutMe_text{
    font-size: 18px;
    position: relative;
    color: #000;
    width: 700px;
}

.espher_container{
    position: absolute;
    top: 26%;
    left: 60%;
}

/* /////////////////////////////////////////////////////////////////////// */

@media (max-width: 950px) {
    
}
@media (max-width: 800px) {
    .flexBlocks_line{
        width: 120%;
        height: 20%;
        position: relative;
        background-color: #fff;
    }



}