.circle{
    height: 24px;
    width: 24px;
    border-radius: 24px;
    background-color: azure;
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: difference; 
    z-index: 10;
    pointer-events: none;
}
